
.buttons-form{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5em;
}
.next{
    justify-content: flex-end;
}
.btn-primary{
    width: 10%;
    height: 35px;
    background-color: #C8F8CB;
    border-radius: 3px;
    border: 1px gray solid;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover{
    cursor: pointer;
    background-color: #b7e9ba;
}

.btn-secondary{
    width: 10%;
    height: 35px;
    background-color: #e4ebe4;
    border-radius: 3px;
    border: 1px gray solid;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.btn-secondary:hover{
    cursor: pointer;
    background-color: #dcdddc;
}

label{
    font-size: 1.2em;
}
#tipoOrg{
    width: 103%;
    padding: 2px;
    border-radius: 4px;
}
.asterisco{
    color: #580202;
}

