
*{
    padding: 0;
    margin: 0;
    font-family: 'Jost';
}
.goBack{
    width: 60px;
    position: absolute;
    left: 20%;
}
.goBack:hover{
    cursor: pointer;
}
.logo{
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 80px;
}

.title{
    margin-bottom: 30px;
    text-align: center;
}

/*Interface de login de usuário*/
.authContainer{
    margin: auto;
    margin-top: 30px;
    background-color: #D6E6F7;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
   
}
.authContainer input:focus{
    outline: 0;
    border-radius: 4px;
    border: 2px solid #4CAFaa77;
}
.authContainer.input{
    display: block;
    height: 25px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
}
.input-error{
    border: 2px solid #d32f2f ;
    border-radius: 4px;
}
.input-message-error{
    color:#d32f2f; 
    margin: 5px;
}
/*Interface de cadastro de usuários*/
.container-cadastro{
    width: 800px;
    padding: 30px 50px 30px 50px;
    margin: auto;
    margin-top: 30px;
}

.container-cadastro form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}



