
.container label{
    display: block;
}
.container input{
    display: block;
    height: 25px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
}
.container input:focus{
    outline: 0;
    border: 2px solid #4CAFaa;
}
#submit{
    width: 30%;
    height: 35px;
    margin: auto;
    background-color: #C8F8CB;
    border-radius: 3px;
    border: 1px gray solid;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

#submit:hover{
    cursor: pointer;
    background-color: #C5F5C8;
}

#p-registrar{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    text-align: center;
}
#cadastrar{
    text-decoration: none;
    color: #0066CC;
}