.card-user{
   display: flex;
   flex-direction: column;
    margin: 20px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.card-user-flex {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.card-user:hover{
    cursor: pointer;
}

.card-user img{
    width: 40px;
    
}

.card-user p{
    font-size: 1.2em;
    
}

.card-user legend {
    display: inline-block;
    font-size: 0.9em;
    margin-left: 4px;
    color: #3c3b3bc7;
}