
*{
    padding: 0;
    margin: 0;
    font-family: 'Jost';
}
.goBack{
    width: 60px;
    position: absolute;
    left: 20%;
}
.goBack:hover{
    cursor: pointer;
}
.logo{
    width: 300px;
    margin: auto;
    display: block;
    margin-top: 80px;
}

.title{
    margin-bottom: 30px;
    text-align: center;
}
/*Interface de login de usuário*/
.container{
    margin: auto;
    margin-top: 30px;
    background-color: #C3E8F9;
    width: 300px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
   
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    font-size: 1.2em;
}


/*Interface de cadastro de usuários*/


.container-cadastro{
    width: 800px;
    padding: 30px 50px 30px 50px;
    margin: auto;
    margin-top: 30px;
}

.container-cadastro input{
    width: 50%; 
}

.form-grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 20px;

 
}


